*,
:after,
:before {
   box-sizing: border-box;
   content: "";
   padding: 0;
   outline: none;
   margin: none;
   text-decoration: none;
}
body {
   margin: 0;
   padding: 0;
   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Raleway,
      sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-family: Times, serif;
}
code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}
.home {
   height: 87.5vh;
   overflow-x: hidden;
   overflow-y: auto;
   -webkit-perspective: 2px;
   perspective: 2px;
   background: #f5cec6;
   font-family: Raleway, sans-serif;
}
.home_contact {
   position: relative;
   height: 50vh;
   justify-content: center;
   color: #fff;
}
.home_contact,
.home_contact_wrapper {
   display: flex;
   align-items: center;
   -webkit-appearance: none;
}
.home_contact_wrapper {
   width: 90vw;
   height: 45vh;
   border: 1rem solid #fff;
   justify-content: space-between;
   flex-flow: column nowrap;
   padding: 1rem;
}
.home_contact_wrapper h1 {
   font-weight: 400;
   font-size: 2rem;
}
.home_contact_wrapper h1,
.home_contact_wrapper p {
   -webkit-margin-before: 0;
   margin-block-start: 0;
   -webkit-margin-after: 0;
   margin-block-end: 0;
   -webkit-appearance: none;
}
.home_contact_wrapper p {
   padding: 0.5rem;
   text-align: center;
}
.home_contact_wrapper a {
   color: #737373;
   padding: 0.5rem 1.75rem;
   border-radius: 30px;
   background: #fff;
}
.home_contact_wrapper h3 {
   -webkit-margin-before: 0;
   margin-block-start: 0;
   -webkit-margin-after: 0;
   margin-block-end: 0;
   -webkit-appearance: none;
   font-size: 1rem;
}
.home_contact_wrapper a:active,
.home_contact_wrapper a:hover {
   background: #737373;
   color: #f5cec6;
}
.home_image {
   position: relative;
   height: 40vw;
   width: 102%;
   margin-top: 10.5vh;
}
.home_image:after {
   background-image: url(/static/media/vacuum_therapy.bec011a5.png);
   background-repeat: no-repeat;
   background-size: cover;
}
.home_services {
   position: relative;
   height: auto;
   display: grid;
   grid-template: auto/1fr;
   background: #fff;
   padding-top: 5vh;
}
.home_service1 {
   grid-area: 1/1/2/2;
   margin: 1rem 0 1rem auto;
}
.home_service2 {
   grid-area: 2/1/3/2;
   margin: 1rem auto 1rem 0;
}
.home_service3 {
   grid-area: 3/1/4/2;
   margin: 1rem 0 1rem auto;
}
.home_service4 {
   grid-area: 4/1/5/2;
   margin: 1rem auto 1rem 0;
}
.home_service_wrapper {
   height: 30vh;
}
.home_service_wrapper img {
   object-fit: cover;
}
.home_service_image,
.home_service_wrapper img {
   z-index: 1;
   position: relative;
   left: 0;
   top: 0;
   height: 30vh;
   width: 30vh;
}
.home_service_image {
   background-repeat: no-repeat;
   background-size: cover;
}
.hsi1 {
   background-image: url(/static/media/lipo.ca931015.png);
}
.hsi2 {
   background-image: url(/static/media/butt_lift.38ef2349.png);
}
.hsi3 {
   background-image: url(/static/media/cavitation.8b4499fa.png);
}
.hsi4 {
   background-image: url(/static/media/fat_freezing.c64a23b3.png);
}
.home_service_text_wrapper {
   z-index: 2;
   width: 65vw;
   height: 17vh;
   background: #f5cec6;
   margin: 0;
   display: flex;
   align-items: center;
   justify-content: center;
}
.home_service_text_wrapper h2 {
   width: 55vw;
   height: 12vh;
   font-size: 1rem;
   font-weight: 400;
   text-align: center;
   line-height: calc(12vh - 1.35rem);
   border-color: #fff;
   border-style: solid none;
   border-width: 0.65rem;
   color: #737373;
}
.hstw1 {
   top: calc(11.5vh + 1rem);
   right: 35%;
}
.hstw1,
.hstw2 {
   position: absolute;
}
.hstw2 {
   top: calc(41.5vh + 3rem);
   left: 35%;
}
.hstw3 {
   top: calc(71.5vh + 5rem);
   right: 35%;
}
.hstw3,
.hstw4 {
   position: absolute;
}
.hstw4 {
   top: calc(101.5vh + 7rem);
   left: 35%;
}
.home_services a {
   color: #f5cec6;
   padding: 0.5rem 2.5rem;
   border-radius: 30px;
   background: #737373;
   grid-area: 5/1/6/2;
   margin: 2rem auto 4rem;
}
.home_services a:active,
.home_services a:hover {
   background: #f5cec6;
   color: #737373;
}
.home_servcies h3 {
   -webkit-margin-before: 0;
   margin-block-start: 0;
   -webkit-margin-after: 0;
   margin-block-end: 0;
   font-size: 1rem;
}
.parallax:after {
   content: " ";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   -webkit-transform: translateZ(-1px) scale(1.5);
   transform: translateZ(-1px) scale(1.5);
   background-size: 100%;
   z-index: -1;
}
@media only screen and (min-width: 768px) {
   .home_contact {
      position: relative;
      height: 30vh;
   }
   .home_contact_wrapper {
      width: 90vw;
      height: 27vh;
   }
   .home_contact_wrapper h1 {
      font-weight: 400;
      font-size: 3.25rem;
   }
   .home_contact_wrapper p {
      font-size: 1.25rem;
      padding: 1rem;
   }
   .home_contact_wrapper h3 {
      font-size: 1.25rem;
   }
   .home_contact_wrapper a {
      padding: 0.5rem 2rem;
   }
   .home_image {
      margin-top: 2vh;
   }
   .home_services {
      position: relative;
      height: auto;
      display: grid;
      grid-template: auto/10vw 1fr 10vw;
      background: #fff;
   }
   .home_service1 {
      grid-area: 1/2/2/3;
   }
   .home_service2 {
      grid-area: 2/2/3/3;
   }
   .home_service3 {
      grid-area: 3/2/4/3;
   }
   .home_service4 {
      grid-area: 4/2/5/3;
   }
   .home_services a {
      grid-area: 5/2/6/3;
   }
   .home_service_text_wrapper {
      width: 55vw;
   }
   .home_service_text_wrapper h2 {
      width: 45vw;
   }
   .hstw1 {
      top: calc(11.5vh + 1rem);
      right: 35%;
   }
   .hstw1,
   .hstw2 {
      position: absolute;
   }
   .hstw2 {
      top: calc(41.5vh + 3rem);
      left: 35%;
   }
   .hstw3 {
      top: calc(71.5vh + 5rem);
      right: 35%;
   }
   .hstw3,
   .hstw4 {
      position: absolute;
   }
   .hstw4 {
      top: calc(101.5vh + 7rem);
      left: 35%;
   }
}
@media only screen and (min-width: 1200px) {
   .home_contact {
      height: 40vh;
   }
   .home_contact_wrapper {
      width: 94vw;
      height: 30vh;
      border-width: 2rem;
   }
   .home_contact_wrapper h1 {
      font-weight: 400;
      font-size: 3.25rem;
   }
   .home_contact_wrapper p {
      font-size: 1.25rem;
      padding: 1rem;
   }
   .home_contact_wrapper h3 {
      font-size: 1.25rem;
   }
   .home_image {
      margin-top: 17.5vh;
   }
   .home_services {
      position: relative;
      height: auto;
      display: grid;
      grid-template: auto/10vw 1fr 1fr 10vw;
      grid-gap: 0 2rem;
      background: #fff;
   }
   .home_service1 {
      grid-area: 1/2/2/3;
   }
   .home_service2 {
      grid-area: 1/3/2/4;
   }
   .home_service3 {
      grid-area: 2/2/3/3;
   }
   .home_service4 {
      grid-area: 2/3/3/4;
   }
   .home_services a {
      grid-area: 3/2/4/4;
   }
   .home_service_text_wrapper {
      width: 22.5vw;
   }
   .home_service_text_wrapper h2 {
      width: 18.5vw;
   }
   .hstw1 {
      left: 5%;
      grid-area: 1/2/2/3;
   }
   .hstw1,
   .hstw2 {
      position: absolute;
      top: calc(6.5vh + 1rem);
   }
   .hstw2 {
      right: 12.5%;
      grid-area: 1/3/2/4;
   }
   .hstw3 {
      grid-area: 2/2/3/3;
      left: 5%;
   }
   .hstw3,
   .hstw4 {
      position: absolute;
      top: calc(6.5vh + 1rem);
   }
   .hstw4 {
      grid-area: 2/3/3/4;
      right: 12.5%;
   }
   .hstw1:after,
   .hstw2:after {
      position: absolute;
      top: 22vh;
      content: " ";
      height: 64px;
      width: 64px;
      border-radius: 50%;
      background: #737373;
   }
}
.services_container {
   width: 100%;
   height: auto;
}
.services_image {
   width: 100vw;
   height: 146vw;
   background: url(/static/media/Service.c7d91a9d.svg) no-repeat;
   background-size: 100% auto;
}
@media only screen and (min-width: 1024px) {
   .services_container {
      margin: 0 10vw;
   }
   .services_image {
      width: 80vw;
      height: 115vw;
      background: url(/static/media/Service.c7d91a9d.svg) no-repeat;
      background-size: 100% auto;
   }
}
.reviews {
   height: auto;
   font-family: Raleway, sans-serif;
}
.reviews_top_container {
   background-color: #f5cec6;
   color: #737373;
   padding: 2rem 0;
}
.reviews_top_container h1 {
   font-size: 3rem;
   text-align: center;
   margin: 0 auto 1rem;
}
.reviews_top_container ul {
   width: 100%;
   display: flex;
   flex-flow: column nowrap;
   list-style-type: none;
}
.reviews_top_container li {
   padding: 2rem;
}
.reviews_top_container li p:first-of-type {
   color: #737373;
   font-size: 4rem;
}
.reviews_top_container li p:first-of-type,
.reviews_top_container li p:last-of-type {
   line-height: 1.65rem;
   -webkit-margin-before: 0;
   margin-block-start: 0;
   -webkit-margin-after: 0;
   margin-block-end: 0;
   -webkit-appearance: none;
}
.reviews_top_container li p:last-of-type {
   color: #fff;
   font-size: 1.1rem;
}
.reviews_bottom_container {
   width: 100%;
   height: 41.3%;
}
.reviews_bottom_image {
   width: 100%;
   height: 40vw;
   background: url(/static/media/reviews-bottom.8ddc01c9.svg) no-repeat;
   background-size: 100% auto;
}
@media only screen and (min-width: 768px) {
   .reviews_top_container ul {
      width: 80vw;
      margin: 0 10vw;
      width: 800px;
      margin: 0 auto;
   }
}
footer {
   width: 100%;
   display: inline-flex;
   flex-flow: column nowrap;
   align-items: center;
   justify-content: center;
   padding: 1rem 1rem 3rem;
   background-color: #737373;
   color: #fff;
}
footer ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}
footer p {
   padding: 2rem;
   font-size: 1.25rem;
   text-align: center;
}
.payment {
   display: inline-flex;
   flex-flow: row wrap;
   align-items: center;
   justify-content: center;
}
.payment li {
   font-size: 1rem;
   padding: 1rem 0.5rem;
}
.social {
   display: inline-flex;
   flex-flow: row nowrap;
   align-items: center;
   justify-content: center;
   background: #737373;
   padding: 1rem;
   margin-top: 2rem;
   margin-bottom: 2rem;
}
.social img {
   height: 56px;
   width: 56px;
   margin: 0 1rem;
}
.circle {
   height: 8px;
   width: 8px;
   border-radius: 50%;
   background-color: #f5cec6;
}
.location {
   display: inline-flex;
   flex-flow: column nowrap;
   align-items: center;
   justify-content: center;
   padding: 1rem;
}
.location li {
   font-size: 1.25rem;
}
header {
   width: 100%;
   height: auto;
   display: inline-flex;
   flex-direction: row;
   justify-content: space-between;
   opacity: 0.8;
   align-items: center;
}
.header_logo {
   background-repeat: no-repeat;
   background-size: contain;
   background-image: url(/static/media/mnb_logo.ddc07b6f.png);
   min-width: 10vh;
   height: 10vh;
   margin: 0 auto 0 1rem;
   display: block;
}
nav {
   width: 100%;
   height: 100%;
   display: inline-flex;
   flex-wrap: wrap;
   overflow: hidden;
   list-style: none;
   justify-content: space-evenly;
   align-items: center;
}
nav a {
   font-family: Raleway, sans-serif;
   font-size: 1rem;
   padding: 0.5rem 0.85rem;
   color: #737373;
}
nav a.active,
nav a:hover {
   text-decoration: underline;
   -webkit-text-decoration-color: #f5cec6;
   text-decoration-color: #f5cec6;
}
@media only screen and (min-width: 1200px) {
   .header_logo {
      margin-left: 15vw;
   }
   nav {
      justify-content: flex-end;
      margin-right: 15vw;
   }
   nav a {
      font-size: 1.35rem;
   }
}
/*# sourceMappingURL=main.3958b5ff.chunk.css.map */
