/*  */
/* STYLING FOR HOME SECTION */
/*  */
.home {
   height: 87.5vh;
   overflow-x: hidden;
   overflow-y: auto;
   perspective: 2px;
   background: #f5cec6;
   font-family: "Raleway", sans-serif;
}
.home_contact {
   position: relative;
   height: 50vh;

   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   -webkit-appearance: none;
}
.home_contact_wrapper {
   width: 90vw;
   height: 45vh;
   border-style: solid;
   border-width: 1rem;
   border-color: white;

   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-flow: column nowrap;
   padding: 1rem;
   -webkit-appearance: none;
}
.home_contact_wrapper h1 {
   font-weight: normal;
   font-size: 2rem;
   margin-block-start: 0;
   margin-block-end: 0;
   -webkit-appearance: none;
}
.home_contact_wrapper p {
   padding: 0.5rem;
   text-align: center;
   margin-block-start: 0;
   margin-block-end: 0;
   -webkit-appearance: none;
}
.home_contact_wrapper a {
   color: #737373;
   padding: 0.5rem 1.75rem;
   border-radius: 30px;
   background: white;
}
.home_contact_wrapper h3 {
   margin-block-start: 0;
   margin-block-end: 0;
   -webkit-appearance: none;
   font-size: 1rem;
}
.home_contact_wrapper a:hover,
.home_contact_wrapper a:active {
   background: #737373;
   color: #f5cec6;
}

.home_image {
   position: relative;
   height: calc(100vw * 0.4);
   width: 102%;
   margin-top: 10.5vh;
}
.home_image::after {
   background-image: url("./images/vacuum_therapy.png");
   background-repeat: no-repeat;
   background-size: cover;
}

.home_services {
   position: relative;
   height: auto;

   display: grid;
   grid-template: auto / 1fr;
   background: white;
   padding-top: 5vh;
}
.home_service1 {
   grid-area: 1 / 1 / 2 / 2;
   margin: 1rem 0 1rem auto;
}
.home_service2 {
   grid-area: 2 / 1 / 3 / 2;
   margin: 1rem auto 1rem 0;
}
.home_service3 {
   grid-area: 3 / 1 / 4 / 2;
   margin: 1rem 0 1rem auto;
}
.home_service4 {
   grid-area: 4 / 1 / 5 / 2;
   margin: 1rem auto 1rem 0;
}
.home_service_wrapper {
   height: 30vh;
}
.home_service_wrapper img {
   z-index: 1;
   position: relative;
   left: 0;
   top: 0;
   object-fit: cover;
   height: 30vh;
   width: 30vh;
}
.home_service_image {
   z-index: 1;
   position: relative;
   left: 0;
   top: 0;
   height: 30vh;
   width: 30vh;
   background-repeat: no-repeat;
   background-size: cover;
}
.hsi1 {
   background-image: url("./images/lipo.png");
}
.hsi2 {
   background-image: url("./images/butt_lift.png");
}
.hsi3 {
   background-image: url("./images/cavitation.png");
}
.hsi4 {
   background-image: url("./images/fat_freezing.png");
}
.home_service_text_wrapper {
   z-index: 2;
   width: 65vw;
   height: 17vh;
   background: #f5cec6;
   margin: 0;

   display: flex;
   align-items: center;
   justify-content: center;
}
.home_service_text_wrapper h2 {
   width: 55vw;
   height: 12vh;
   font-size: 1rem;
   font-weight: normal;
   text-align: center;
   line-height: calc(12vh - 1.35rem);
   border-style: solid;
   border-left-style: none;
   border-right-style: none;
   border-width: 0.65rem;
   border-color: white;
   color: #737373;
}
.hstw1 {
   position: absolute;
   top: calc(11.5vh + 1rem);
   right: 35%;
}
.hstw2 {
   position: absolute;
   top: calc(41.5vh + 3rem);
   left: 35%;
}
.hstw3 {
   position: absolute;
   top: calc(71.5vh + 5rem);
   right: 35%;
}
.hstw4 {
   position: absolute;
   top: calc(101.5vh + 7rem);
   left: 35%;
}
.home_services a {
   color: #f5cec6;
   padding: 0.5rem 2.5rem;
   border-radius: 30px;
   background: #737373;
   grid-area: 5 / 1 / 6 / 2;
   margin: 2rem auto 4rem;
}
.home_services a:hover,
.home_services a:active {
   background: #f5cec6;
   color: #737373;
}
.home_servcies h3 {
   -webkit-margin-before: 0;
   margin-block-start: 0;
   -webkit-margin-after: 0;
   margin-block-end: 0;
   font-size: 1rem;
}

.parallax::after {
   /* Display and position the pseudo-element */
   content: " ";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;

   /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
   transform: translateZ(-1px) scale(1.5);
   /* Force the background image to fill the whole element. */
   background-size: 100%;
   /* Keep the image from overlapping sibling elements. */
   z-index: -1;
}

@media only screen and (min-width: 768px) {
   .home_contact {
      position: relative;
      height: 30vh;
   }
   .home_contact_wrapper {
      width: 90vw;
      height: 27vh;
   }
   .home_contact_wrapper h1 {
      font-weight: normal;
      font-size: 3.25rem;
   }
   .home_contact_wrapper p {
      font-size: 1.25rem;
      padding: 1rem;
   }
   .home_contact_wrapper h3 {
      font-size: 1.25rem;
   }
   .home_contact_wrapper a {
      padding: 0.5rem 2rem;
   }
   .home_image {
      margin-top: 2vh;
   }
   .home_services {
      position: relative;
      height: auto;

      display: grid;
      grid-template: auto / 10vw 1fr 10vw;
      background: white;
   }
   .home_service1 {
      grid-area: 1 / 2 / 2 / 3;
   }
   .home_service2 {
      grid-area: 2 / 2 / 3 / 3;
   }
   .home_service3 {
      grid-area: 3 / 2 / 4 / 3;
   }
   .home_service4 {
      grid-area: 4 / 2 / 5 / 3;
   }
   .home_services a {
      grid-area: 5 / 2 / 6 / 3;
   }
   .home_service_text_wrapper {
      width: 55vw;
   }
   .home_service_text_wrapper h2 {
      width: 45vw;
   }
   .hstw1 {
      position: absolute;
      top: calc(11.5vh + 1rem);
      right: 35%;
   }
   .hstw2 {
      position: absolute;
      top: calc(41.5vh + 3rem);
      left: 35%;
   }
   .hstw3 {
      position: absolute;
      top: calc(71.5vh + 5rem);
      right: 35%;
   }
   .hstw4 {
      position: absolute;
      top: calc(101.5vh + 7rem);
      left: 35%;
   }
}

@media only screen and (min-width: 1200px) {
   .home_contact {
      height: 40vh;
   }
   .home_contact_wrapper {
      width: 94vw;
      height: 30vh;
      border-width: 2rem;
   }
   .home_contact_wrapper h1 {
      font-weight: normal;
      font-size: 3.25rem;
   }
   .home_contact_wrapper p {
      font-size: 1.25rem;
      padding: 1rem;
   }
   .home_contact_wrapper h3 {
      font-size: 1.25rem;
   }
   .home_image {
      margin-top: 17.5vh;
   }
   .home_services {
      position: relative;
      height: auto;

      display: grid;
      grid-template: auto / 10vw 1fr 1fr 10vw;
      grid-gap: 0 2rem;
      background: white;
   }
   .home_service1 {
      grid-area: 1 / 2 / 2 / 3;
   }
   .home_service2 {
      grid-area: 1 / 3 / 2 / 4;
   }
   .home_service3 {
      grid-area: 2 / 2 / 3 / 3;
   }
   .home_service4 {
      grid-area: 2 / 3 / 3 / 4;
   }
   .home_services a {
      grid-area: 3 / 2 / 4 / 4;
   }
   .home_service_text_wrapper {
      width: 22.5vw;
   }
   .home_service_text_wrapper h2 {
      width: 18.5vw;
   }
   .hstw1 {
      position: absolute;
      top: calc(6.5vh + 1rem);
      left: 5%;
      grid-area: 1 / 2 / 2 / 3;
   }
   .hstw2 {
      position: absolute;
      top: calc(6.5vh + 1rem);
      right: 12.5%;
      grid-area: 1 / 3 / 2 / 4;
   }
   .hstw3 {
      grid-area: 2 / 2 / 3 / 3;
      position: absolute;
      top: calc(6.5vh + 1rem);
      left: 5%;
   }
   .hstw4 {
      grid-area: 2 / 3 / 3 / 4;
      position: absolute;
      top: calc(6.5vh + 1rem);
      right: 12.5%;
   }
   .hstw1::after,
   .hstw2::after {
      position: absolute;
      top: 22vh;
      content: " ";
      height: 64px;
      width: 64px;
      border-radius: 50%;
      background: #737373;
   }
}
